@charset "utf-8";

@font-face {
  font-family: "Montserrat";
  src: local(""),
    url("/fonts/montserrat-v15-latin-ext_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/montserrat-v15-latin-ext_latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: local(""),
    url("/fonts/montserrat-v15-latin-ext_latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/montserrat-v15-latin-ext_latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  src: local(""),
    url("/fonts/montserrat-v15-latin-ext_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/montserrat-v15-latin-ext_latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LatoLight";
  src: local(""),
    url("/fonts/lato-v17-latin-ext_latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/lato-v17-latin-ext_latin-300.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local(""),
    url("/fonts/lato-v17-latin-ext_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/lato-v17-latin-ext_latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LatoBold";
  src: local(""),
    url("/fonts/lato-v17-latin-ext_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/lato-v17-latin-ext_latin-700.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local(""),
    url("/fonts/raleway-v19-latin-ext_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/raleway-v19-latin-ext_latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RalewayBold";
  src: local(""),
    url("/fonts/raleway-v19-latin-ext_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/raleway-v19-latin-ext_latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: local(""),
    url("/fonts/bebas-neue-v2-latin-ext_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/bebas-neue-v2-latin-ext_latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NothingYouCouldDo;
  src: local(""),
    url("/fonts/nothing-you-could-do-v10-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/nothing-you-could-do-v10-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
body {
  color: #333333;
  font: 400 22px/30px Lato, Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

a {
  font: 400 18px/22px Lato, Arial, Helvetica, sans-serif;
}

.main-content,
.sidebar {
  padding: 0.95em;
}

.all-blogs,
.blog-article {
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas: ". main ." ". side .";
  grid-gap: 0px 5px;
}

@media only screen and (min-width: 860px) {
  .all-blogs,
  .blog-article {
    grid-template-columns: 1.5em minmax(400px, 750px) minmax(200px, 300px) 1.5em;
    grid-template-areas: ". main side .";
  }
}
@media only screen and (min-width: 860px) {
  .all-blogs,
  .blog-article {
    grid-template-columns: minmax(1.5em, 1fr) minmax(650px, 960px) 350px minmax(
        1.5em,
        1fr
      );
    grid-template-areas: ". main side .";
  }
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: side;
}

.comparision-table tr:nth-child(even) {
  @apply bg-gray-200;
}

.comparision-table tr:nth-child(od) {
  @apply bg-white;
}

.comparision-table tr > td {
  @apply py-2;
}

.comparision-table tr > th {
  @apply text-themeOrange-400 py-5;
}

.comparision-table th:nth-child(1),
.comparision-table td:nth-child(1) {
  @apply text-themeBlue-600 text-left pl-2 w-2/5;
}

.comparision-table td:nth-child(1) {
  @apply text-xs md:text-sm;
}
